@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Epilogue';
	src: url('/fonts/Epilogue/Epilogue-VariableFont_wght.ttf') format('woff2-variations');
	src: url('/fonts/Epilogue/Epilogue-VariableFont_wght.ttf') format('woff2') tech('variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Crimson';
	src: url('/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('woff2-variations');
	src: url('/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('woff2') tech('variations');
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-primary-blue: #0087b8;
	--color-secondary-blue: #a9dff3;
	--color-tertiary-blue: #004d66;
	--color-body-white: #fdfdfd;
	--color-accent-red: #ff5555;

	--font-epilogue: 'Epilogue', serif;
	--font-crimson: 'Crimson', serif;
}

:root {
	h1 {
		font-family: var(--font-epilogue);
		font-weight: 800;
	}

	h2,
	div,
	p {
		font-weight: 200;
	}
}

.step {
	padding-top: 50%;
	padding-bottom: 50%;
}

.step-child {
	min-height: 80px;
	background-color: var(--color-primary-blue);
	border: 1px solid white;
	border-radius: 10px;
	width: 30%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
